{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<form action="/" method="post">
    <table class="table table-striped" id="main-table">
        <thead>
            <tr>
                <th id="main-header">Favorite</th>
                <th id="main-header">Option</th>
                <th id="main-header">Date</th>
                <th id="main-header">거래종류</th>
                <th id="main-header">구분</th> 
                <th id="main-header">주소</th>
                <th id="main-header">룸수(룸)</th>
                <th id="main-header">금액(만원)</th>
                <th id="main-header">대출</th>
                <th id="main-header">주차</th>
                <th id="main-header">전화번호</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td id="main-cell"><input class="form-check-input" type="checkbox" value="" id="favorite"></td>
                    <td id="main-cell"><input class="form-check-input" type="checkbox" value={{ row["id"] }} name={{ row["id"] }}></td>
                    <td id="main-cell">{{ row["date"] }}</td>
                    <td id="main-cell">{{ row["sell_type"] }}</td>
                    <td id="main-cell">{{ row["building_type"] }}</td>
                    <td id="main-cell">{{ row["address"] }}</td>
                    <td id="main-cell">{{ row["rooms"] }}</td>
                    <td id="main-cell">{{ row["price"] }}</td>
                    <td id="main-cell">{{ row["loan"] }}</td>
                    <td id="main-cell">{{ row["parking"] }}</td>
                    <td id="main-cell">{{ row["phone_number"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="inline">
        <button type="submit" class="btn btn-secondary" name="delete" value="delete">Delete</button>
        <button type="submit" class="btn btn-primary" name="submit" value="submit">Submit</button>
    </div>
</form>

{% if sendtext == True %}
{% for row in selections %}
    <script type="text/javascript">
        function sendLink() {
        Kakao.Link.sendDefault({
            objectType: 'feed',
            content: {
                title: "testing",
                description: "testing",
                imageUrl: 'https://media.istockphoto.com/photos/3d-rendering-brick-house-isolation-on-a-white-3d-illustration-picture-id1337434489?b=1&k=20&m=1337434489&s=170667a&w=0&h=Be7c31gM3b-sDHIRqCXPNcqamruzf9RUhVrdL3Wrs60=',
                link: {
                    mobileWebUrl: 'https://jinwkim65.github.io/kakaotest/',
                    webUrl: 'https://jinwkim65.github.io/kakaotest/',
                },
            },
            itemContent: {
                profileText: 'Name ({{row["phone_number"] }})',
                titleImageText: '주소: {{ row["address"] }}',
                items: [
                    {'item':'룸수', 'itemOp':'{{ row["rooms"]}}'},
                    {'item':'실사용', 'itemOp':'{{ row["use"] }}평'},
                    {'item':'대출여부', 'itemOp':'{{ row["loan"] }}'},
                    {'item':'주차여부', 'itemOp':'{{ row["parking"] }}'},
                    {'item':'입주시기', 'itemOp':'{{ row["date"] }}'}
                ],
                sum: "금액",
                sumOp: '{{ row["price"] }}만원'
            },
            buttons: [
            {
                title: 'Click button!',
                link: {
                mobileWebUrl: 'https://jinwkim65.github.io/kakaotest/',
                webUrl: 'https://jinwkim65.github.io/kakaotest/',
                },
            },
            ],
        })
        }
        sendLink()
        console.log("{{ row | safe }}")
    </script>
{% endfor %}
{% endif %}

{% endblock %}